body{

	background-color: AntiqueWhite;
}

h1{
	text-align: center;
	color: DarkCyan;
}

img{

	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p{
	text-align: center;
	font-family: Avenir;
}

.button{
	margin-left: 25%
	margin-right: 25%;
	color: DarkCyan;
	font-weight: bold;
}
