body{
	background-color: AntiqueWhite;
}

h1{
	color: SaddleBrown;
	background-color: MistyRose;
	font-family: didot;
	font-size: 400%%;
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
	border: 1px solid SaddleBrown;
}

h2{
	color: SaddleBrown;
	background-color: MistyRose;
	font-family: didot;
	font-size: 150%%;
	text-align: center;
	margin-left: 30%;
	margin-right: 30%;
	border: 1px solid SaddleBrown;
}

.titleSection{
	background-color: LightBlue;
	text-align: center;
	margin-left: 25%;
	margin-right: 25%;
}

.nameOfJobOrActivity{
	text-align: center;
	margin-left: 30%;
	margin-right: 30%;
}

.descriptionOfJob{
	font-family: verdana;
	margin-left: 25%;
	margin-right: 25%;
	font-size: 70%;
}

.listOfLanguages{
	font-family: verdana;
	margin-left: 45%;
	margin-right: 15%;
	font-size: 75%;
}

p{
	font-family: verdana;
	margin-left: 15%;
	margin-right: 15%;
	font-size: 77%;
	text-align: center;
}